@{
    Layout = null;
}
@using ClickInFinal.Models
@model userAnnotatoin
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/mystyle.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="~/Content/hover-min.css" rel="stylesheet" />
    <title >ClickIn</title>
   
</head>
<body style="background: repeat; background-image: url(/Content/img6.jpg)">
    
    <nav class="nav navbar-fixed-top navbar-inverse " role="navigation" style="background-color:white">
        <div class="nav navbar-header" style="padding-left:45%;padding-top:0.5%">
            <h1  style="color:black;font-family:Papyrus;padding-left:25px;text-align:center" >ClickIn</h1>
            </div> 
        <div class="pull-right" style="padding-right:15px;padding-top:1.5%">
            <a href="LogIn/logstart"><input type="submit" class="btn btn-lg btn-primary hvr-bounce-in"  value="SIGN IN"/></a>
        </div>
    </nav>
   
    
   
    
    <div class="col-lg-11 pull-right" style="padding-left:30% ;color:white" >           
             <h4 style="color:white;padding-left:2%;padding-top:2%">Get Register on ClickIn</h4>    
        <div class="col-lg-2" >                    
            <!--<label>First Name</label>-->
           
             @Html.LabelFor(m=>m.fname,"First Name")
           
             <br />
             <br />
             <br />
              @Html.LabelFor(m=>m.lname,"Last Name")
            
            <br />
            <br />
           @Html.LabelFor(m=>m.userId,"Email")
           <br />
            <br />
            <br />
            @Html.LabelFor(m=>m.password,"Password")
             
            <br />
            <br />
             <br />
             @Html.LabelFor(m=>m.dob,"Date of Birth")
             <br /> 
            <br />
            <br />
                 @Html.LabelFor(m=>m.country,"Country")        
           
            <br />
            <br />
             <br />
              @Html.LabelFor(m=>m.city,"City")
        </div>
       
         <div class="col-lg-9" >
             <!--<form action="/Client/register" method="post">-->
             @using(Html.BeginForm("register","Client",FormMethod.Post))
             {
                 @Html.AntiForgeryToken()
                 @Html.ValidationSummary(true)
            
            <!--<input style="opacity:0.6" type="text" name="fname" required="required" class="btn"/>-->
                 
                 @Html.TextBoxFor(m => m.fname, new { @class="btn",style="border:solid;color:darkblue"})                 
                 @Html.ValidationMessageFor(m => m.fname)
                     
            <br />
             <br />
                 
              @Html.TextBoxFor(m => m.lname, new {@class="btn",style="border:solid;color:darkblue"})
                 @Html.ValidationMessageFor(m=>m.lname)
                 
            <br />
             <br />
                 
               @Html.TextBoxFor(m => m.userId, new {@class="btn",style="border:solid;color:darkblue",type="email",id="uId"})
                 @Html.ValidationMessageFor(m=>m.userId)
                 
              <div class="col-lg-6 pull-right">                  
                  <input type="button" value ="Check Availability" onclick="checkId()" style="color:darkblue"/>
                   <p id="avail" style="color:red"></p>    
                  </div>  
                
                             
           <br />
                 <br />
                
               @Html.TextBoxFor(m => m.password, new { @class="btn",style="border:solid;color:darkblue",type="password"})
                   @Html.ValidationMessageFor(m=>m.password)
                   
            <br />
             <br />
                
              @Html.TextBoxFor(m => m.dob, new {@class="btn",style="padding-left:5%;border:solid;color:darkblue",type="date"})
                   @Html.ValidationMessageFor(m=>m.dob)
                     
            <br />
             <br />
                
             @Html.TextBoxFor(m => m.country, new { @class="btn",style="border:solid;color:darkblue"})
                   @Html.ValidationMessageFor(m=>m.country)
                    
             <br />
             <br />
                 
            @Html.TextBoxFor(m => m.city, new { @class="btn",style="border:solid;color:darkblue"})
                   @Html.ValidationMessageFor(m=>m.city)
             <br />
             <br />
                 <div >
                 <input  type="submit" value="Register" class="btn btn-lg btn-success hvr-bounce-in"/>
                     <p>@ViewBag.mess</p>
             </div>
             }
         <!-- </form>-->
        </div>      
        
        
           
        </div>
    <footer class="navbar-fixed-bottom navbar-inverse">
        <div style="text-align: center; color:white;background-color:black" class="navbar-inverse">
            <p class="list-inline small">Design by  Shaharyar Tariq (Bitf12m043)</p>                  
          </div>
    </footer>

     <script src="~/Scripts/jquery-2.1.4.min.js"></script>
     <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function checkId() {
            var name = $('#uId').val();
            //alert(name);
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                var xmlhttp = new XMLHttpRequest();
            }

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status < 299) {
                   
                    document.getElementById("avail").innerHTML = xmlhttp.responseText;

                }

            }
            xmlhttp.open("POST", "/LogIn/check?name=" + name, true);
            xmlhttp.send();

        }
    </script>
</body>
   
</html>
